main {
	height: 80%;
}

#social .grid {
	width: 65%;
	margin: auto;
}

#social a {
	position: relative;
	top: 0;
	margin: 20px 30px;
	transition: top ease 0.25s;
}
#social a:hover {
	  top: -15px;
}

#planos article {
	margin-top: 40px;
	padding: 40px;
}

#planos h4 {
	text-transform: uppercase;
	margin-top: 10px;
}

#bora, #bora h4, #bora p, #bora li {
	background-color: /*#960200;*/ #420C14;
	color: #FFF;
}
#tamojunto, #tamojunto h4, #tamojunto p, #tamojunto li {
	background-color: /*#CE6C47;*/ #732C2C;
	color: #FFF;
}
#paidegua, #paidegua h4, #paidegua p, #paidegua li {
	background-color: /*#FFD046;*/ #9D8420;
	color: #FFF;
}

#iniciativas article {
	margin: 0;
	padding: 40px;
	margin-bottom: 20px;
}

#academiambl {
	background-color: #030303;
}
#clubembl {
	background-color: #112543;
}
#revistavalete {
	background-color: #F5F3EC;
}

select {
	border: 0;
}

